
#scriptViewHead h2 {
    margin-bottom: 5% !important;
}
#scriptView {
    background-color: #fff; box-shadow: none !important;
}

#scriptView .container {
    width: 100% !important;
}

.container {
    width: 100% !important;
}

#scriptView td {width: 200px !important;} 

table {
    margin: 2% 0;
}

:local(.body) > td {
    width: 200px !important;
}

:local(.body) {
    width: 100%;
}
:local(.body) > table {
    width: 70% !important;
}
:local(.body) > table > td {
    width: 200px !important;
}

:local(.scriptView) > table > td {
    width: 200px !important;
    margin: 50px !important;
}

td span {
    line-height: 30px !important;
}

td {
    font-weight: lighter;
}

td.field {
    color: #909090
}

td.value {
    color: #333;
}

td.setValue {
    color: #00b1ec;
}

:local(.attachmentsTab) {
    padding: 10px; }
    :local(.attachmentsTab) .span, :local(.notesTab) .input {
      display: block;
      max-width: 600px;
      padding: 8px;
      line-height: 30px; }
    :local(.attachmentsTab) > .button {
      margin-bottom: 20px; }
    :local(.attachmentsTab) > .notes {
      border-top: 1px solid #dfe1e2;
      border-bottom: 1px solid #dfe1e2; }

