
#addScript input.orderField {
    width: initial !important;
}

.inventoryButton {
    min-width: 35px;
    padding: 0;
}

.inventoryButton span {
    margin-right: 0 !important;
}

.minus {
    background: #ff7d2b;
    color: #fff;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.minus span {
    margin-left: -2px;
    margin-top: -12px;
    vertical-align: middle;
}